.employeePreview {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.taskPreview {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.projectPreview {
    grid-template-columns: 1fr 1fr;
}

.column-info {
    overflow-wrap: anywhere;
}

.entityPreview {
    background-color: #00000052;
    box-shadow: 6px 7px 1px 0px rgb(151, 151, 151);
}

.entityPreviewInfo {
    display: grid;
    border-style: groove;
    border-width: 0.5ch;
    border-color: #979797;
    margin: 0ch;
    padding: 0ch;
    grid-template-areas: "column column column column column column column";
    overflow-x: auto;
}

.column {
    display: grid;
    grid-template-rows: 0fr 1fr;
}

.column p {
    margin: 1ch;
}

.column-parameter {
    height: 4ch;
}