.entityInfoLine {
    display: grid;
    grid-template-columns: 2fr 7fr;
    align-items: center;
    padding: 1ch;
}

input {
    width: 100%;
    padding: 0ch;
    font-size: inherit;
}

.sub-button {
    width: 100%;
}

.entityFullNav {
    display: flex;
    justify-content: flex-end;
}

.entityNavigation {
    display: flex;
    justify-content: center;
}

.entityInfoParameter {
    padding: 1ch;
    padding-bottom: 0.5ch;
    font-weight: bold;
    background-color: #7b7b7b;
}

.entityInfoValueText {
    display: flex;
    height: fit-content;
    padding: 1ch;
    padding-bottom: 0.5ch;
    color: white;
    background-color: #626262;
}

.entityInfoValue {
    overflow-x: scroll;
}

.entityInfoValueTable {
    height: fit-content;
    background-color: #6262627a;
    padding: 1ch;
    padding-bottom: 0.5ch;
}

.entityInfoValueSelect {
    width: 100%;
    height: fit-content;
    padding: 1ch;
    padding-bottom: 1ch;
    padding-bottom: 0.5ch;
    font-size: inherit;
}

.alert {
    margin: 0ch;
    align-self: center;
}